/* Header - NavBar */
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding: 4px 25px
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: white;
    color: #3498DB;
    border-radius: 50px;
    transition: all 0.3s ease;
 }

.navbar {
    height: 100px;
}

/* Logo */
.navbar-brand img {
    vertical-align: middle;
    margin-right: 10px;
}

/* Application name */
.navbar-appname {
    font-size: 16px;
    color: #FFFFFF; 
    line-height: 1.5;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

header, footer {
    background-color: #3498DB;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    color: white;
}

.custom-div {
    border-radius: 17px;
    padding: 17px;
    transition: box-shadow 0.3s;
    height: 84px;
    background-color: white;
}

.custom-div:hover {
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

#elementTable {
    background-color: #f2f2f2;
}

table.dataTable.no-footer{
    border-bottom: 5px solid white;
}

.dataTables_wrapper {
    background-color: #D9D9D9;
}

#customSearchButton {
    background-color: #3498DB;
    color: #636E72;
    border: none;
    cursor: pointer;
}

#customSearchInput {
    border-radius: 25px;
    margin-right: 30px;
}

table.custom-table thead th {
    background-color: #D9D9D9;
    border-bottom: 5px solid white;
}

table.custom-table tbody td {
    background-color: #D9D9D9;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
}

.title{
    line-height: 1px;
}

.card {
    border: none;
}

#elementTable {
    width: 100%; 
}

.dataTables_paginate .paginate_button {
    border: none !important;
    color: #636E72 !important;
}

div.bottom.ml-3.col-md-5 {
}

.dataTables_paginate .paginate_button.current {
    background-color: #636E72 !important;
}

.dataTables_paginate .paginate_button .fas {
    vertical-align: middle; 
    margin-right: 5px;
}

.dataTables_length select {
    width: auto;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    color: #636E72;
}

.dataTables_length {
    margin-left: 15px;
    color: #636E72;
}

.dataTables_wrapper .dataTables_info {
    color: #636E72;
}

label {
    color: #636E72;
}

.icon{
    color: #636E72;
}

.title {
    font-size: 18px;
    color: #636E72;
}

.version{
    font-size: 12px;
}

.custom-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-modal-content {
    background-color: #fff;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 498.4px;
    max-width: 90%;
}

.custom-modal-footer {
    padding: 16px 0 0 0 !important;
    margin-top: 16px;
}

.custom-button-container{
    display: flex;
}

.custom-delete-button{
    margin-left: 16px;
}